/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body { margin: 10px; }
 
 header { float: left; width: 17%; height: auto; margin-right:3%;}
 header img { width: 80%;  }
 
 navigation { clear: left; float: left; width: 17%; margin-right:3%;}

 main { margin-left: 20%; display:block;}
 
 footer { clear: both; text-align: center; margin-top: 75px;}
 
 /* SERIES */
  .seriesDivRow { padding: 3px; border-bottom: 1px solid black; height:auto; overflow:auto;}
 .seriesDivHeader { cursor: pointer; padding: 2px;}
 .seriesDivHeader  img{ width: 20px; height: 20px; float:left; vertical-align: middle;}
 .seriesDivHeader  h2{ float:left; margin: 0 0 0 5px;}
 .seriesDivInfo { clear:both; margin-top: 20px; }
 .seriesDivInfo  > img{ float:left; max-width: 25%; }
 .seriesDivInfo  h3{ margin-left: 28%; width: 70%; margin-bottom: 0px;}
 .seriesDivInfo  .links{ margin-top: 10px; margin-left: 28%; width: 70%;}
 .seriesDivInfo  .links a{ margin-right: 10px;}
 