<h1>Listing series</h1>

<script>
	
	$(document).ready(function(){
		$('.seriesDivInfo').each(function(div, r){
			$(div).hide();
		});
		
		$('.seriesDivHeader').click(function(){
			$(this).siblings('.seriesDivInfo').slideToggle();
		});
		
		
	});
	
</script>

    <% @series.each do |series| %>
	  <%= seriesRow(series) %>
    <% end %>
	
<br>

<%= link_to 'New Series', new_series_path %>
